aiohttp
aiosignal
asgiref
async-timeout
attrs
cachetools
certifi
charset-normalizer
Django
django-environ
dj-database-url
django-cors-headers
django-crispy-forms
djangorestframework
djangorestframework-simplejwt
frozenlist
geoip2
gunicorn
idna
ipinfo
joblib
maxminddb
multidict
numpy
pandas
propcache
PyJWT
python-dateutil
pytz
PyYAML
requests
scikit-learn==1.6.0
scipy
six
sqlparse
threadpoolctl
typing_extensions
tzdata
ua-parser
ua-parser-builtins
urllib3
user-agents
yarl
